---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import { TeamActivities } from '@/components/TeamActivities';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<Features />
		<TeamActivities client:load />
	</main>
</Layout>


