---
import { ArrowRight } from 'lucide-astro'
---
<section class="relative h-screen pt-16 bg-gray-900">
  <div class="absolute inset-0 bg-[url('hero.jpg')] bg-no-repeat bg-center md:bg-cover">
    <div class="relative container mx-auto px-4 pt-24 h-full flex flex-col justify-start items-center">
      <h1 class="text-4xl text-center tracking-tight md:text-6xl font-avantExtraBold text-white mb-6">
        Een breed gamma van<br/>unieke teambuildings
      </h1>
      <p class="text-xl text-white mb-12">
        Versterk je team met een leuke dag zonder stress!
      </p>
      <a 
        href="#contact" 
        class="bg-action flex gap-2 items-center text-white font-avantExtraBold px-6 py-4 rounded-md w-fit hover:bg-red-600 transition-colors duration-300"
      >
        Vind je ideale teambuilding
        <ArrowRight class="w-4 h-4 ml-2" />
      </a>
    </div>
  </div>
 
</section>